@model IEnumerable<HajurKoCarRental.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/CRUD.css" asp-append-version="true" />
</head>
<body>

<h1>Index</h1>

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Create New</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.CarImage" alt="Car Image" height="100" width="100"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_available)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                    </td>
                </tr>
            }

    </tbody>
</table>

</body>
</html>
